<div class="center jumbotron">
  <h1>Welcome to Paradox Parkway</h1>

  <h2>
  	Today in Time: On this day in <%= @today_in_time.today_year %>, <%= @today_in_time.full_name %> was <%= @today_in_time.event %>. 
  </h2>

  <!-- <%= link_to "Sign Up Now", signup_path, class: "btn btn-lg btn-primary" %> -->
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4 "><h5 class="page-button"><%= link_to "People", people_path, class: "btn btn-primary" %></h5></div>
    <div class="col-md-4 "><h5 class="page-button"><%= link_to "Titles", titles_path, class: "btn btn-primary" %></h5></div>
    <div class="col-md-4 "><h5 class="page-button"><%= link_to "Paradoxes", doxes_path, class: "btn btn-primary" %></h5></div>
  </div>

  <!-- <h2><%= @tagline.line%></h2><h2>-<%= @tagline.source%></h2> -->
</div>
