<h2><%= @tagline.line%></h2><h2>-<%= @tagline.source%></h2>

<!-- <div class="center jumbotron">
  <h1>Welcome to Paradox Parkway</h1>

  <h2>
  	Your one stop shop for all things time travel and brain bending nonsense.
  </h2>

  <%= link_to "Sign Up Now", signup_path, class: "btn btn-lg btn-primary" %>
</div> -->
<div class="container">
  <div class="row">
    <div class="col-md-4" style="background-color: gray; text-align: center">
    <%= link_to "People", new_person_path %>
    </div>
    <div class="col-md-4" style="background-color: gray; text-align: center">
    <%= link_to "Paradoxes", paradox_news_path %>
    </div>
    <div class="col-md-4" style="background-color: gray; text-align: center ">
    <%= link_to "Paradoxes", doxes_path %>
    </div>
  </div>
</div>
