<div class="center jumbotron">
  <h1>Welcome to Paradox Parkway</h1>
  <h2><%=@today.strftime("%A %B #{@today.day.ordinalize} %Y")%></h2>
</div>

<% if @events.nil? %>
<% else %>
  <div id="eventCarousel" class="carousel slide" data-ride="carousel" data-interval="6000" data-pause="hover">
    <div class="carousel-inner" role="listbox">
      <% @events.shuffle.each_with_index do |event, index| %>
        <% person = Person.find_by people_index: event.people_index %>
        <% title  = Title.find_by title_index: event.title_index %>
        <% if person.nil? && title.nil? %>
          <% next %>
        <% end %>
        <!-- Wrapper for slides -->
        <div class="item <% if index == 0 %> active <% end %>">
        
          <div class="row">
            <div class="col-xs-3 text-center">
              <% if event.people_index.nil? %>
                <%= cl_image_tag("People/" + "40000" + ".png", :class=>"profile-photo") %>
              <% else %>
                <%= cl_image_tag("People/" + event.people_index.to_s + ".png", :class=>"profile-photo", :default_image => "People:40000.png") %>
              <% end %>
            </div>
            <div class="col-xs-6">
              <div class="row">
                <% if event.event.downcase == "release" %>
                    <% if title.sub_medium.downcase.include? "film" %>
                      <h2> On this day in <%= title.release_year %>, <%= title.title %> first opened in theaters.</h2>
                    <% elsif title.sub_medium.downcase.include? "episode" %>
                      <h2> On this day in <%= title.release_year %>, Season <%= title.season_num %> Episode <%= title.episode_num %> of <%= title.title %>, <%= title.episode %> was first broadcast.</h2>
                    <% elsif title.sub_medium =~ /tv series|tv miniseries|tv movie/i %>
                      <h2> On this day in <%= title.release_year %>, <%= title.title %> premiered.</h2>
                    <% elsif title.sub_medium =~ /book|novel|video game|video|short/i %>
                      <h2> On this day in <%= title.release_year %>, <%= title.title %> was released.</h2>
                    <% end %>
                <% elsif event.event.downcase == "birth" %>
                  <h2> Happy <%= person.age.ordinalize %> birthday, <%= person.full_name %>!</h2>
                <% elsif event.event.downcase == "death" %>
                  <h2> <%= person.full_name %> died on this day in <%= person.death_year %>.</h2>
                <% end %>
              </div>
              <div class="row">
                <% if event.event_message.nil? %>
                  <h2> Message coming soon. </h2>
                <% else %>
                  <h2> <%= event.event_message %> </h2>
                <% end %>
              </div>
            </div>
            <div class="col-xs-3 text-center">
              <% if event.title_index.nil? %>
                <%= cl_image_tag("Titles/" + "10000" + ".png", :class=>"profile-photo col-centered") %>
              <% else %>
                <%= cl_image_tag("Titles/" + event.title_index.to_s + ".png", :class=>"profile-photo", :default_image => "Titles:10000.png") %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <!-- Left and right controls -->
    <a class="left carousel-control" href="#eventCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#eventCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
<% end %>

  <!-- <%= link_to "Sign Up Now", signup_path, class: "btn btn-lg btn-primary" %> -->


<div class="container">
  <div class="row">
    <div class="col-md-4 "><h5 class="page-button"><%= link_to "People", people_path, class: "btn btn-primary" %></h5></div>
    <div class="col-md-4 "><h5 class="page-button"><%= link_to "Titles", titles_path, class: "btn btn-primary" %></h5></div>
    <div class="col-md-4 "><h5 class="page-button"><%= link_to "Paradoxes", doxes_path, class: "btn btn-primary" %></h5></div>
  </div>
</div>
  <!-- <h2><%= @tagline.line%></h2><h2>-<%= @tagline.source%></h2> -->
