<div class="center jumbotron">
  <h1>Welcome to Paradox Parkway</h1>
  <h3><%=@today.strftime("%A %B #{@today.day.ordinalize} %Y")%></h3>
</div>
<!-- Cube Experiment -->
<!-- <div class="cube-container">
  <div class="cube-pieces">
    <div class="cube-bit"></div>
    <div class="cube-bit ne-face bord-top bord-lf"></div>
    <div class="cube-bit ne-face bord-top bord-rt"></div>
    <div class="cube-bit sw-face bord-top bord-lf"></div>
    <div class="cube-bit origin-face"></div>
    <div class="cube-bit ne-face bord-rt bord-bot"></div>
    <div class="cube-bit sw-face bord-bot bord-lf"></div>
    <div class="cube-bit sw-face bord-rt bord-bot"></div>
    <div class="cube-bit"></div>
  </div>
</div> -->
<!-- Event Carousel -->
<% if @events.nil? %>
<% else %>
  <div id="eventCarousel" class="carousel slide" data-ride="carousel" data-interval="6000" data-pause="hover">
    <div class="carousel-inner" role="listbox">
      <% @events.shuffle.each_with_index do |event, index| %>
        <div class="item <% if index == 0 %> active <% end %>">
          <%= render partial: "event", object: event %>
        </div>
      <% end %>
    </div>
    <!-- Left and right controls -->
    <a class="left carousel-control" href="#eventCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#eventCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
<% end %>

  <!-- <%= link_to "Sign Up Now", signup_path, class: "btn btn-lg btn-primary" %> -->



  <div class="row">
    <div class="col-md-4 "><h5 class="page-button"><%= link_to "People", people_path, class: "btn btn-primary" %></h5></div>
    <div class="col-md-4 "><h5 class="page-button"><%= link_to "Titles", titles_path, class: "btn btn-primary" %></h5></div>
    <div class="col-md-4 "><h5 class="page-button"><%= link_to "Paradoxes", doxes_path, class: "btn btn-primary" %></h5></div>
  </div>


<div id="taglineCarousel" class="carousel slide" data-ride="carousel" data-interval="0">
  <div class="carousel-inner" role="listbox">
    <% @taglines.shuffle.each_with_index do |tagline, index| %>
      <div class="item <% if index == 0 %> active <% end %>">
        <div class="row text-center">
          <h5><%= tagline.tagline %></h5>
        </div>
        <div class="row">
          <div class="text-center">
            <div class="click-me btn btn-default">Click to reveal the source!
            </div>
            <% if Title.find_by(title_index: tagline.title_index).nil? %>
              <div class="tagline-source">
                <h5>- <%= tagline.title %></h5>
              </div>
            <% else %>
              <div class="tagline-source">
                <h5>- <%= link_to tagline.title, title_path(Title.find_by(title_index: tagline.title_index))%></h5>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <!-- Left and right controls -->
  <a class="left carousel-control" href="#taglineCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#taglineCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>