<div class="center jumbotron">
  <h1>Welcome to Paradox Parkway</h1>
  <h2><%=@today.strftime("%A %B #{@today.day.ordinalize} %Y")%></h2>
</div>

<% if @events.nil? %>
<% else %>
  <div id="eventCarousel" class="carousel slide" data-ride="carousel" data-interval="6000" data-pause="hover">
    <div class="carousel-inner" role="listbox">
      <% @events.shuffle.each_with_index do |event, index| %>
        <div class="item <% if index == 0 %> active <% end %>">
      	  <% if event.has_attribute?(:title) %>  <!-- EVENT IS A RELEASE -->
            <div class="row">
              <div class="col-xs-3 text-center">
                <% if event.series_index.nil?%>
                  <%= cl_image_tag("Titles/" + event.title_index.to_s + ".png", :class=>"event-photo", :default_image => "Titles:10000.png") %>
                <% else %>
                  <%= cl_image_tag("Titles/" + event.series_index.to_s + ".png", :class=>"event-photo", :default_image => "Titles:10000.png") %>
                <% end %>
              </div>
              <div class="col-xs-6">
                <div class="row">
              	  <% if event.sub_medium =~ /film/i %>
                    <h2> On this day in <%= event.release_year %>, "<%= link_to event.title, title_path(event.id) %>" first opened in theaters.</h2>
				  <% elsif event.sub_medium =~ /episode|comic/i %>
				    <h2> On this day in <%= event.release_year %>, season <%= event.season_num %> of "<%= event.title %>" episode <%= event.episode_num %>: <i><%= link_to event.episode, title_path(event.id) %></i> was first broadcast.</h2>
				  <% elsif event.sub_medium =~ /tv series|tv miniseries|tv movie/i %>
                      <h2> On this day in <%= event.release_year %>, "<%= link_to event.title, title_path(event.id) %>" premiered.</h2>
				  <% elsif event.sub_medium =~ /book|novel|video game|video|short/i %>
                      <h2> On this day in <%= event.release_year %>, "<%= link_to event.title, title_path(event.id) %>" was released.</h2>
				  <% end %>
                </div>
                <div class="row">
                  <% if event.release_msg.nil? %>
                    <h2> Message coming soon. </h2>
                  <% else %>
                    <h2> <%= event.release_msg %> </h2>
                  <% end %>
                </div>
              </div>
              <div class="col-xs-3 text-center">
                <%= cl_image_tag("People/" + event.people_index.to_s + ".png", :class=>"event-photo", :default_image => "People:40000.png") %>
              </div>
            </div>
      	  <% else %> <!-- EVENT IS A PERSON -->
			<div class="row">
              <div class="col-xs-3 text-center">
                <%= cl_image_tag("People/" + event.people_index.to_s + ".png", :class=>"event-photo", :default_image => "People:40000.png") %>
              </div>
              <div class="col-xs-6">
                <% if event.birth_month == Time.now.mon.to_i && event.birth_day == Time.now.day.to_i %>
                <!-- EVENT IS A BIRTH -->
                  <div class="row">
                    <h2> Happy <%= event.age.ordinalize %> birthday, <%= link_to event.full_name, person_path(event.id) %>!</h2>
                  </div>
                  <div class="row">
                    <% if event.birth_msg.nil? %>
                      <h2> Message coming soon. </h2>
                    <% else %>
                      <h2> <%= event.birth_msg %> </h2>
                    <% end %>
                  </div>
                <% else %>
                <!-- EVENT IS A DEATH -->
                  <div class="row">
                    <h2> <%= link_to event.full_name, person_path(event.id) %> died on this day in <%= event.death_year %>.</h2>
                  </div>
                  <div class="row">
                    <% if event.death_msg.nil? %>
                      <h2> Message coming soon. </h2>
                    <% else %>
                      <h2> <%= event.death_msg %> </h2>
                    <% end %>
                  </div>
                <% end %>
              </div>
              <div class="col-xs-3 text-center">
                <%= cl_image_tag("Titles/" + event.title_index.to_s + ".png", :class=>"event-photo", :default_image => "Titles:10000.png") %>
              </div>
            </div>
      	  <% end %>
      	</div>
      <% end %>
    </div>
    <!-- Left and right controls -->
    <a class="left carousel-control" href="#eventCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#eventCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
<% end %>

  <!-- <%= link_to "Sign Up Now", signup_path, class: "btn btn-lg btn-primary" %> -->



  <div class="row">
    <div class="col-md-3 "><h5 class="page-button"><%= link_to "People", people_path, class: "btn btn-primary" %></h5></div>
    <div class="col-md-3 "><h5 class="page-button"><%= link_to "Titles", titles_path, class: "btn btn-primary" %></h5></div>
    <div class="col-md-3 "><h5 class="page-button"><%= link_to "Events", events_path, class: "btn btn-primary" %></h5></div>
    <div class="col-md-3 "><h5 class="page-button"><%= link_to "Paradoxes", doxes_path, class: "btn btn-primary" %></h5></div>
  </div>


<div id="taglineCarousel" class="carousel slide" data-ride="carousel" data-interval="0">
  <div class="carousel-inner" role="listbox">
    <% @taglines.shuffle.each_with_index do |tagline, index| %>
      <div class="item <% if index == 0 %> active <% end %>">
        <div class="row">
          <div><h2><%= tagline.tagline %></h2></div>
        </div>
        <div class="row">
          <div class="text-center">
            <div class="click-me btn btn-default">Click to reveal the source!
            </div>
            <% if Title.find_by(title_index: tagline.title_index).nil? %>
              <div class="tagline-source"><h2>- <%= tagline.title %></h2></div>
            <% else %>
              <div class="tagline-source"><h2>- <%= link_to tagline.title, title_path(Title.find_by(title_index: tagline.title_index))%></h2></div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <!-- Left and right controls -->
  <a class="left carousel-control" href="#taglineCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#taglineCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>