<!DOCTYPE html>
	<head>
		<link href='http://fonts.googleapis.com/css?family=Play:400,700' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<div id="container">
			<div id="header">

				<h1>Welcome to Paradox Parkway</h1>
			</div>

			<div id="stage">
				<div class="top-row">
					<%= link_to "/timeLine" do %>
						<div class="nav-button">
							<h3>Time Travel Agency</h3>
						</div>
					<% end %>
					<%= link_to "/fame" do %>
						<div class="nav-button">
							<h3>Hall of Fame</h3>
						</div>
					<% end %>
					<%= link_to "/cinema" do %>
						<div class="nav-button">
							<h3>Cinema</h3>
						</div>
					<% end %>
					<%= link_to "/travelData" do %>
						<div class="nav-button">
							<h3>Time Travel Data Center</h3>
						</div>
					<% end %>
					<%= link_to "/paradoxData" do %>
						<div class="nav-button">
							<h3>Paradox Data Center</h3>
						</div>
					<% end %>
				</div>
				
				<%= image_tag("mobi.jpg", :style => "width: 800px; height: 250px;") %>	

				<div class="bottom-row">
					<%= link_to "/mall" do %>
						<div class="nav-button">
							<h3>Mobius Strip Mall</h3>
						</div>
					<% end %>
					<%= link_to "/podcast" do %>
						<div class="nav-button">
							<h3>Podcast</h3>
						</div>
					<% end %>
					<%= link_to "/restArea" do %>
						<div class="nav-button">
							<h3>Rest Area</h3>
						</div>
					<% end %>
					<%= link_to "/garage" do %>
						<div class="nav-button">
							<h3>Garage</h3>
						</div>
					<% end %>
					<%= link_to "/blog" do %>
						<div class="nav-button">
							<h3>Blog</h3>
						</div>
					<% end %>
				</div>
			</div>
			<div id="footer">
			
			</div>
		</div>
	</body>
</html>
