<h3>Import a CSV File</h3>
<%= form_tag import_taglines_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import CSV" %>
<% end %>
<table>
  <thead>
    <tr>
      <th width="10">Tagline_index</th>
      <th width="25%">Tagline</th>
      <th width="10">Title_index</th>
      <th width="55%">Title</th>
    </tr>
  </thead>
  <tbody>
    <% @taglines.each do |tagline| %>
      <tr>
      	<td><%= tagline.tagline_index %></td>
        <td><%= tagline.tagline %></td>
      	<td><%= tagline.title_index %></td>
        <td><%= tagline.title %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div>
</div>