<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= form_for(@person, method: :patch) do |f| %>

      <%= f.label :full_name %>
      <%= f.text_field :full_name, class: 'form-control' %>

      <%= f.label :biography %>
      <%= f.text_area :biography, class: 'form-control', rows: 10 %>

      <div class="row">
        <div class="col-md-4">
          <%= f.label :has_audio %>
          <%= f.text_field :has_audio, class: 'form-control' %>
        </div>
        <div class="col-md-8">
          <%= f.label :primary_skill %>
          <%= f.text_field :primary_skill, class: 'form-control' %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <%= f.label :first_name %>
          <%= f.text_field :first_name, class: 'form-control' %>
        </div>
        <div class="col-md-4">
          <%= f.label :middle_name %>
          <%= f.text_field :middle_name, class: 'form-control' %>
        </div>
        <div class="col-md-4">
          <%= f.label :last_name %>
          <%= f.text_field :last_name, class: 'form-control' %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <%= f.label :birth_date %>
          <%= f.text_field :birth_date, class: 'form-control' %>
        </div>
        <div class="col-md-3">
          <%= f.label :birth_day %>
          <%= f.text_field :birth_day, class: 'form-control' %>
        </div>
        <div class="col-md-3">
          <%= f.label :birth_month %>
          <%= f.text_field :birth_month, class: 'form-control' %>
        </div>
        <div class="col-md-3">
          <%= f.label :birth_year %>
          <%= f.text_field :birth_year, class: 'form-control' %>
        </div>
      </div>

      <%= f.label :birth_msg %>
      <%= f.text_area :birth_msg, class: 'form-control', rows: 3 %>

      <div class="row">
        <div class="col-md-3">
          <%= f.label :death_date %>
          <%= f.text_field :death_date, class: 'form-control' %>
        </div>
        <div class="col-md-3">
          <%= f.label :death_day %>
          <%= f.text_field :death_day, class: 'form-control' %>
        </div>
        <div class="col-md-3">
          <%= f.label :death_month %>
          <%= f.text_field :death_month, class: 'form-control' %>
        </div>
        <div class="col-md-3">
          <%= f.label :death_year %>
          <%= f.text_field :death_year, class: 'form-control' %>
        </div>
      </div>

      <%= f.label :death_msg %>
      <%= f.text_area :death_msg, class: 'form-control', rows: 3 %>

      <%= f.submit "Save", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>