<div class="container-fluid">
<%= form_tag(people_path, :method => "get", id: "search-form") do %>
<%= text_field_tag :search, params[:search], placeholder: "Search People" %>
<%= submit_tag "Search" %>
<% end %>
</div>

<%= will_paginate %>

<% @people.order("last_name ASC, first_name ASC").each do |person| %>
  <%= render partial: "person", object: person %>
<% end %>

<%= will_paginate %>

<h2> <%= @people.count %> total entries. </h2>