<div class="container-fluid">
<%= form_tag(people_path, :method => "get", id: "search-form") do %>
<%= text_field_tag :search, params[:search], placeholder: "Search People" %>
<%= submit_tag "Search" %>
<% end %>
</div>

<%= will_paginate %>

<% @people.each do |person| %>
<div class="container-fluid dox-entry">
  <div class="row">
    <div class="col-xs-3">
    <%= cl_image_tag("People/" + person.people_index.to_s + ".png", :class=>"profile-photo") %>
    </div>
    <div class="col-xs-9">
      <div class="row">
      	<div class="col-xs-2"><h5> Full Name: </h5></div>
    	  <div class="col-xs-10"><h4> <%= person.full_name %> </h4>
          <% if !current_user.nil? && current_user.admin? %>
          |  <%= link_to "delete", person, method: :delete, 
                     data: { confirm: "Are you sure?" } %>
          <% end %>
        </div>  	
      </div>
      <div class="row">
      	<div class="col-xs-2"><h5> Birth Date </h5></div>
    	  <div class="col-xs-10"><p> <%= person.birth_date %> </p></div>
      </div>
      <div class="row">
      	<div class="col-xs-2"><h5> Death Date </h5></div>
    	  <div class="col-xs-10"><p> <%= person.death_date %> </p></div>
      </div>
      <div class="row">
        <div class="col-xs-2"><h5> Primary Skill </h5></div>
    	  <div class="col-xs-10"><p> <%= person.primary_skill %> </p></div>
  	  </div>
      <div class="row">
        <div class="col-xs-2"><h5> Biography </h5></div>
        <div class="col-xs-10"><p> <%= person.biography %> </p></div>
      </div>
    </div>
  </div>
</div>
<% end %>

<%= will_paginate %>

<h2> <%= @people.count %> total entries. </h2>