
<div class="container-fluid entry">
  <div class="row">

    <div class="col-xs-5 col-md-3">
      <% if title.series_index.nil? || title.series_index.blank?%>
        <%= cl_image_tag("Titles/" + title.title_index.to_s + ".png", :class=>"profile-photo img-responsive", :alt => title.title, :deafult_image => "Titles:10000") %>
      <% else%>
        <%= cl_image_tag("Titles/" + title.series_index.to_s + ".png", :class=>"profile-photo img-responsive", :alt => title.title, :deafult_image => "Titles:10000") %>
      <% end %>    
    </div>

    <div class=" col-xs-7 col-md-9 ">

      <div class="entry-details">

    	  <h2> <%= title.title %></h2>

        <% if !title.season_num.nil? %>
          <h4> <i><%= title.episode%></i> &nbsp // &nbsp <span class="ent-label">Season:</span> <%= title.season_num  %> 
               <span class="ent-label">Episode: </span>  <%= title.episode_num %>
          </h4>
        <% end %>

        <div class="row">
          <div class="col-xs-6"><h4><span class="ent-label"> Release Date: </span><%= title.release_month %>/<%=title.release_day %>/<%= title.release_year %> </h4></div>
          <div class="col-xs-6"><h4><span class="ent-label"> Country of Release: </span> <%= title.country %> </h4></div>
        </div>

        <% if !title.length.nil? %>
          <div class="row">
            <div class="col-xs-6">
              <% if title.medium == "Literature" %>
                <h4><span class="ent-label"> Length: </span> <%= title.length %> pages</h4>
              <% else %>
                <h4><span class="ent-label"> Length: </span><%= title.length %> minutes</h4>
              <% end %>
            </div>
            <div class="col-xs-6"><h4><span class="ent-label"> MPAA: </span><%= title.mpaa %> </h4></div>
          </div>
        <% end %>

        <div class="row">
          <div class="col-xs-6"><h4><span class="ent-label"> Medium: </span><%= title.sub_medium %> </h4></div>
          <div class="col-xs-6"><h4><span class="ent-label"> Genre: </span><%= title.genre %> </h4></div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <h4><span class="ent-label"> Release Message: </span><%= title.release_msg %> </h4>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <h4><span class="ent-label"> Description: </span><%= title.description %> </h4>
          </div>
        </div>

      </div>
      <% if !current_user.nil? && current_user.admin? %>
        <div class="entry-details col-xs-12">
          <h4>
            <span class="ent-label"> Production Medium: </span>   <%= title.medium %>       | 
            <span class="ent-label"> Series Index:      </span>   <%= title.series_index%>  |
            <span class="ent-label"> Title Index:       </span>   <%= title.title_index%>   | 
            <span class="ent-label"> People Index:      </span>   <%= title.people_index%>  |
            <br>
            <span class="ent-label"> Title Sort:        </span>   <%= title.title_sort%>    | 
            <%= link_to "EDIT", edit_title_path(title.id) %> | 
            <%= link_to "DELETE", title, method: :delete, 
                                         data: { confirm: "Are you sure you want to delete this title?" } %>
          </h4>
        </div>
      <% end %>


    </div>

  </div>
</div>
