<div class="container-fluid">
  <%= form_tag(titles_path, :method => "get", id: "search-form") do %>
  	<%= text_field_tag :search, params[:search], placeholder: "Search Titles" %>
  	<%= submit_tag "Search" %>
  <% end %>
</div>

<%= will_paginate %>

<% @titles.order(:title_sort).each do |title| %>
  <%= render partial: "title", object: title %>
<% end %>

<%= will_paginate %>

<h2> <%= @titles.count %> total entries. </h2>