<%= form_tag(titles_path, :method => "get", id: "search-form") do %>
  <div class="row">
    <div class="col-xs-10">
      <%= text_field_tag :search, params[:search],  placeholder: "Search Paradoxes", autofocus: "autofocus" %>    
	</div>
	<div class="col-xs-2">
      <%= submit_tag "Search" %>
	</div>
  </div>
<% end %>


<h2> <%= @titles.count %> total entries. </h2>

<%= will_paginate %>

<% @titles.order("title_sort ASC, season_num ASC, episode_num ASC").each do |title| %>
  <%= render partial: "title", object: title %>
<% end %>

<%= will_paginate %>

