<header class="navbar navbar-fixed-top navbar-inverse">
  	<div class="container">
  	  <%= link_to "Paradox Parkway", root_path, id: "logo" %>
  	  <nav>
  	    <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Paradox <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Paradoxes", doxes_path %></li>
              <li><%= link_to "People", people_path %></li>
              <li><%= link_to "Titles", titles_path %></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Time Travel <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Hall of Fame", doxes_path %></li>
              <li><%= link_to "Today in Time", paradox_people_path %></li>
              <li><%= link_to "Data Center", paradox_news_path %></li>
            </ul>
          </li>
  	      <li><%= link_to "Blog", blogposts_path %></li>
          <% if logged_in? %>
            <li><%= link_to "Users", users_path %></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Account <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Profile", current_user %></li>
                <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                <li class="divider"></li>
                <li>
                <%= link_to "Log out", logout_path, method: "delete" %>
                </li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Log in", login_path %></li>
          <% end %>
  	    </ul>
  	  </nav>
  	</div>
  </header>